// Placeholder to allow overriding predefined variables smoothly.
$brand-color: #bbbbbb;

$text-color: #dfdfdf;
$background-color: #2d2d2d;
$code-background-color: #111111;

// non-theme variables
$header-footer-background-color: #393939;
$header-footer-primary-color: #444444;
$header-footer-secondary-color: #343434;